body{
    background-color: #9daee3;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #9daee3;
}
.container{
    width: 360px;
    height: 450px;
    margin: 4% auto;
    position: relative;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}
h3{
    text-align: center;
    margin-bottom: 40px;
    color: #777;
}
h2{
    text-align: center;
    margin-bottom: 15px;
    color: #777;
    font-size: 13px;
    color: red;
}
.container form{
    width: 280px;
    position: absolute;
    top: 24px;
    left: 40px;
    transition: 0.5s;
}
form input{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #999;
    background: transparent;
    display: flex;
}
form select{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #999;
    background: transparent;
    cursor: pointer;
}

.selectbox:before{
    content: "";
    position: absolute;
    top: 6px;
    right: 10px;
    border: 8px solid black;
    border-color: red transparent transparent transparent;
    margin: 240px 5px;
    pointer-events: none;
}
form label{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    outline: none;
    border: none;
    background: transparent;
}
::placeholder{
    color: #777;
}
.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
.menu{
    width: 40%;
    margin: -400px 68%;
    text-align: center;
}
.backAll{
    margin: -50px 50px;
    text-align: center;
}
form button{
    width: 80px;
    height: 35px;
    margin: 0 5px;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
}
form button:hover{
    background: linear-gradient(to right, #ffad06, #ff105f);
}
#form2{
    left: 450px;
}
#form3{
    left: 450px;
}
.step-row{
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
}
h4{
    color: transparent;
    text-align: center;
    cursor: default;
}
.step-col{
    width: 180px;
    text-align: center;
    color: #333;
    font-weight: 600;
    position: relative;
}
#progress{
    position: absolute;
    height: 100%;
    width: 180px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    transition: 1s;
}
#progress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #ffad06;
}

h1{
    text-align: center;
    color: #ff105f;
}


@media (max-width: 420px){
    form input{
        flex-direction: column;
        align-items: flex-start;
    }
}